
*{
    box-sizing: border-box;
}    


body {
    
    font-size: 20px;
    font-family: Georgia, serif;
    
}

.btn {
    background-color: #555555; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


h2 {
    font-weight: bold; 
}

h3{
    font-weight: bold;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}
